In [19]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import model_selection, datasets, linear_model, metrics

In [20]:
train_data = pd.read_csv('orange_small_churn_data.txt')
labels = pd.read_csv('orange_small_churn_labels.txt', names=['target'])

In [21]:
X_train, X_test, y_train, y_test = train_test_split(train_data, labels, test_size=0.25, random_state=7, stratify=labels)

In [26]:
X_test.to_csv("Hold_out_X.csv", index = False)
y_test.to_csv("Hold_out_y.csv", index = False)
X_train.to_csv('X_train.csv', index = False)
y_train.to_csv('y_train.csv', index = False)

In [27]:
_x = pd.read_csv('X_train.csv')
_x.head()

,Var1,Var2,Var3,Var4,Var5,Var6,Var7,Var8,Var9,Var10,...,Var221,Var222,Var223,Var224,Var225,Var226,Var227,Var228,Var229,Var230
0,NaN,NaN,NaN,NaN,NaN,7553.0,7.0,NaN,NaN,NaN,...,oslk,SqzQZmh,M_8D,NaN,ELof,uWr3,RAYp,F2FyR07IdsN7I,am7c,NaN
1,NaN,NaN,NaN,NaN,NaN,273.0,0.0,NaN,NaN,NaN,...,oslk,hThoIp0,LM8l689qOp,NaN,NaN,szEZ,RAYp,F2FyR07IdsN7I,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,1820.0,7.0,NaN,NaN,NaN,...,oslk,JaZwBif,LM8l689qOp,NaN,kG3k,uWr3,RAYp,55YFVY9,mj86,NaN
3,NaN,NaN,NaN,NaN,NaN,1001.0,0.0,NaN,NaN,NaN,...,oslk,CW6RDbC,LM8l689qOp,NaN,NaN,7P5s,RAYp,F2FyR07IdsN7I,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,49.0,0.0,NaN,NaN,NaN,...,oslk,Ef3qqb8,LM8l689qOp,NaN,NaN,Qu4f,RAYp,F2FyR07IdsN7I,NaN,NaN

In [25]:
_x = pd.read_csv('Hold_out_X.csv')
_x.head()

,Var1,Var2,Var3,Var4,Var5,Var6,Var7,Var8,Var9,Var10,...,Var221,Var222,Var223,Var224,Var225,Var226,Var227,Var228,Var229,Var230
0,NaN,NaN,NaN,NaN,NaN,1939.0,0.0,NaN,NaN,NaN,...,oslk,LsdxH6H,LM8l689qOp,NaN,ELof,FSa2,RAYp,F2FyR07IdsN7I,am7c,NaN
1,NaN,NaN,NaN,NaN,NaN,1127.0,14.0,NaN,NaN,NaN,...,oslk,hjFYw04,jySVZNlOJy,NaN,xG3x,7P5s,RAYp,55YFVY9,am7c,NaN
2,NaN,NaN,NaN,NaN,NaN,1113.0,7.0,NaN,NaN,NaN,...,d0EEeJi,nBc9jvX,LM8l689qOp,NaN,NaN,453m,nIGXDli,iyHGyLCEkQ,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,616.0,0.0,NaN,NaN,NaN,...,oslk,vVL2C8o,LM8l689qOp,NaN,NaN,xb3V,RAYp,F2FyR07IdsN7I,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,1365.0,21.0,NaN,NaN,NaN,...,oslk,_JxAGfT,M_8D,NaN,ELof,fKCe,RAYp,F2FyR07IdsN7I,am7c,NaN